

<div class="container">
    <h1>User registration</h1>
    <img src="/assets/logo.png" class="center">
    <form #login="ngForm" >
        <div class="form-group">
            <label for="firstname">FirstName</label> <br>
            <input  #name = "ngModel" required minlength=2 maxlength= 7 type="text" name="firstname" class="form-control" ngModel>
            <!-- <div *ngIf = "name.touched && name.invalid" class = "alert alert-danger"> Hello
                <p *ngIf = " name.errors.required "> FirstName Required!</p>
                <p *ngIf = " name.errors.minlength "> Sorry Short User name!</p>
            </div> -->
        </div>


        <div class="form-group">
            <label for='lastname'>LastName</label> <br>
            <input type='text' name='lastname' class='form-control'>
        </div>


        <div class="form-group">
            <label for='email'>Email</label> <br>
            <input type='text' name='email' class='form-control'>
        </div>


        <div class="form-group">
            <label for='password'>Password</label> <br>
            <input type='text' name='password' class='form-control'>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
