body{
   background: blueviolet;
}
h1{
    text-align: center;
}
.center{
    display:block;
    margin: 15px auto;
    width: 50%;
    height:60px;
    max-width: 80px;
    border-radius: 50%;
    }

.cover{
    text-align: center;
}