
<body>
<div class="container">
    <h1>User registration</h1>
    <img src="/assets/logo.png" class="center">
    <form>
        <div class="cover">
        <div class="form-group">
            <label for='firstname'>FirstName</label> <br>
            <input type='text' name='firstname' class='form-control'>
        </div>


        <div class="form-group">
            <label for='lastname'>LastName</label> <br>
            <input type='text' name='lastname' class='form-control'>
        </div>


        <div class="form-group">
            <label for='email'>Email</label> <br>
            <input type='text' name='email' class='form-control'>
        </div>


        <div class="form-group">
            <label for='password'>Password</label> <br>
            <input type='text' name='password' class='form-control'>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>

</div>
</body>