body{
   background: rgb(178, 163, 193);
}
h1{
    text-align: center;
}
.center{
    display:block;
    margin: 15px auto;
    width: 50%;
    height:60px;
    max-width: 80px;
    border-radius: 50%;
    }

.container{
    text-align: center;
}
.alert-danger{
    background-color: rgb(255, 0, 0);
}
.alert{
    color:white;
    margin-bottom: 15px;
    text-align: left;
}